body {
	margin: 2%;
	padding: 0;
	font-family: sans-serif;
	background: #919191;
} 

section.header{
	font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-family: verdana;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

section.member1{
	margin: 2%;
	padding: 2%;
	background: #ffffff;
}

section.member2{
	margin: 2%;
	padding: 2%;
	padding-bottom: 2%;
	background: #ffffff;
}

.container {
	width: 100%;
	height: auto;
	background: #616161;
	display: flex;
	flex-direction: row;
	justify-content: all;
	flex-flow: wrap;
}

.box {
  	width: 40%;
  	height: 300px;
  	margin: 20px;
  	background: #fff;
  	text-align: center;
  	box-sizing: border-box
}

.container :hover{
	box-shadow: -20px 20px 20px rgba(0,0,0,0.3);
}

@media screen and (max-width: 1200px){
	.row{
		width: 40%;
	}
}

@media screen and (max-width: 600px){
	.row{
		width: 90%;
	}
}